@page "/vizualizare-proiecte"
@using ProiectPractica.Entities
@inject ProiectPractica.Data.ApplicationDbContext DbContext
@inject NavigationManager NavigationManager
@using ProiectPractica.Models
@inject ProiectPractica.Data.ApplicationDbContext DbContext
@inject IJSRuntime JSRuntime
@using Microsoft.EntityFrameworkCore

<h2>Listă Proiecte</h2>

<a class="btn btn-success" href="@NavigationManager.ToAbsoluteUri("/adauga-proiect")">
    <i class="bi bi-plus-circle"></i> Adaugă Proiect
</a>

@if (proiecte == null)
{
    <p>Se încarcă proiectele...</p>
}
else if (!proiecte.Any())
{
    <p>Nu există proiecte înregistrate.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Cod</th>
                <th>Client</th>
                <th>Domeniu</th>
                <th>Obiect Contract</th>
                <th>Valoare</th>
                <th>Data Semnare</th>
                <th>Data Încheiere</th>
                <th>Status</th
                <th>Livrabile</th>
                <th>Subcontractori</th>
                <th>Client Public</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var proiect in proiecte)
            {
                <tr>
                    <td>@proiect.Cod</td>
                    <td>@proiect.NumeClient</td>
                    <td>@proiect.Domeniul</td>
                    <td>@proiect.ObiectulContractului</td>
                    <td>@proiect.ValoareContract.ToString("C")</td>
                    <td>@proiect.DataSemnareContract.ToShortDateString()</td>
                    <td>@proiect.DataIncheiereContract.ToShortDateString()</td>
                    <td>@proiect.Status.ToString()</td>
                    <td>@proiect.NrLivrabile</td>
                    <td>@(proiect.AreSubcontractor ? "Da" : "Nu")</td>
                    <td>@(proiect.EsteClientPublic ? "Da" : "Nu")</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<ProiectEntity> proiecte = new();
    
    
    protected override async Task OnInitializedAsync()
    {
        proiecte = await DbContext.Proiecte.ToListAsync();

        Console.WriteLine("Proiecte încărcate: " + proiecte.Count);
        foreach (var p in proiecte)
        {
            Console.WriteLine($"Cod: {p.Cod}, Client: {p.NumeClient}, Domeniu: {p.Domeniul}");
        }
    }
    
}
